body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color:aliceblue;
    height: 90px;
}

.main {
    background-color:#bdf7f1;
    height: 600px;
}

.footer {
    background-color:#ceccf3;
    height: 270px;
}
